.forgot-password {

  &__title {
	float: left;
	width: 100%;
	font-weight: 300;
	font-size: 42px;
	line-height: 50px;
	padding: 0 0 13px;
	letter-spacing: normal;
	color: #4c4c4c;
  }

  &__subtitle {
	float: left;
	width: 100%;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
  }

  &__field-item {
	float: left;
	width: 100%;
	&--submit {
	  float: right;
	  margin:20px 0px;
	  button {
		float: right;
		width: 280px;
		height: 50px;
	  }
	}

  }

  &__fields {
	padding: 21px 0 0;
	list-style: none;
	li {
	  label {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		padding: 19px 0 0;
	  }
	  input {
		width: 100%;
		height: 50px;
		background-color: #F3F3ED;
		text-indent: 10px;
	  }
	}
  }

}