.product-archive {

	.product-list {

		padding-left:0;

		&__single-product {

			width:31.333%;
			margin-right:3%;
			margin-bottom:3%;
			list-style-type:none;
			float:left;
			padding:20px;
			border:1px solid #eff0eb;
			position:relative;
			overflow-y:hidden;

			&:nth-child(3n) {

				margin-right:0;

			}

			&:hover {


				.product-list__link {

					transform:translateY(-40px);

				}

				.product-list__description {

					transform:translateY(-40px);

				}

				.product-list__rollover {

					bottom:0;

				}

				.project-buttons {

					transform:translateY(-40px);

				}

			}

		}

		&__image {

			width:100%;
			margin-bottom:10px;
			transition:all linear 0.2s;

		}

		&__link {

			display:block;
			text-transform:uppercase;
			color:#000;
			transition:all linear 0.2s;
			transform:translateY(0px);

		}

		&__description {

			transition:all linear 0.2s;
			transform:translateY(0px);
			display:block;

		}

		&__rollover {

			position:absolute;
			bottom:-40px;
			left:0;
			width:100%;
			background:#eff0eb;
			text-align:right;
			padding:10px 0;
			transition:all linear 0.2s;

			i {

				margin:0 20px 0 10px;

			}

		}

		.project-buttons {
		
			position: absolute;
			bottom: 18px;
			right: 15px;
			transition:all linear 0.2s;
			transform:translateY(0px);

			a {

				color:#eff0eb;

			}

			&__subactions {

				bottom: 35px;
				left: -104px;
				top:auto;

				a {

					color:#000;

				}

				&:after {

					top:auto;
					bottom:-15px;
					border-bottom:0;
					border-top: 15px solid #eff0eb;

				}

			}

		}

	}

	#product_helper {

		border:0;

		.panel-heading {

			background:none;
			border:0;
			padding:0;

			i {
				position:static;
				display:inline-block;
				margin-left:10px;
			}

		}

		.panel {

			border:0;
			background:none;

		}

		.panel-title {

			margin-top:-60px;
			font-size:15px;
			text-transform:uppercase;
			margin-right:0;
			border:1px solid #eff0eb;

			a {
				padding:15px;
				display:block;
			}

		}

		&--content_1 {

			padding:20px;
			border:1px solid #eff0eb;

			p {

				float:right;
				width:30%;
				padding:20px;
				background:#eff0eb;

			}

			span {

				display:block;
				text-transform:uppercase;
				font-size:14px;
				margin-bottom:10px;

			}

			.list-groups {

				padding-left:0;

				li {

					display:inline-block;
					margin-right:10px;

				}

				input {

					display:none;

				}

				label {

					padding:15px 25px;
					border:1px solid #eff0eb;
					transition:all linear 0.2s;
					text-transform:uppercase;
					background:transparent;

					&:hover {

						background:#eff0eb;

					}

				}

				input[type="checkbox"]:checked+label {

					background:#eff0eb;

				}

				input:not(:checked) + label {

				    background:transparent;
				    
				}

			}

		}

		.panel-bottom {

			background:#eff0eb;
			padding:20px;
			font-size:14px;

			&:after {
				clear:both;
				display:block;
				content:'';
			}

			&__selected {

				float:left;
				margin-bottom:0;
				text-decoration:normal;

			}

			&__view-products {

				float:right;
				text-align:right;
				margin-bottom:0;
			}

			
		}

	}

	#product_filter {

		.clear-filter {

			display:block;
			padding:10px 20px;
			width:100%;
			background:#fff;

			&__link {

				text-decoration:none;
				color:#000;

				i {

					margin-right:10px;

				}

			}

		}

	}

	.view-all {

		text-decoration:none;
		text-align:center;
		display:block;
		margin-bottom:20px;

		a {

			display:block;

		}

	}

}