/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/09/2015, 11:55:00 AM
    Author     : Nathan Zhang
*/

/* Color */
$yellow: #ffdd00;
$button-black: #0a0703;
$dark-transparent-bg:rgba(0, 0, 0, 0.4);
$darker-transparent-bg:rgba(0, 0, 0, 0.6);

/* Break Points */

$screen-xxxs-min: 320px;
$screen-xxxxs-max: ($screen-xxxs-min - 1);
$screen-xxs-min: 380px;
$screen-xxxs-max: ($screen-xxs-min - 1);
$screen-xs-min: 520px;
$screen-xxs-max: ($screen-xs-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

/* This section needs to be finished */
$font-FKG-DC: "Conv_FranklinGothic-DemiXCmpr";//nav small heading and list and button
$font-FKB-R: "Conv_FranklinGothicBookRegular";//p
$font-FKG-MC: "franklingothic-medcnd";//text field place holder and footer list
$font-VSB-B: "venussb bolext";//heading

/* Cross browser */
@mixin transition($transition_string){
    -webkit-transition: $transition_string;
    -moz-transition: $transition_string;
    -o-transition: $transition_string;
    transition: $transition_string;
}
/***Global effects*/
.transparent-bg{
    background-color:rgba(0, 0, 0, 0.4);
    &-darker{
        background-color:rgba(0, 0, 0, 0.6);
    }
}
.yellow{background-color:$yellow;}
.hover-white:hover{color:#ffffff}
.text-yellow{color:$yellow;}

/***Position*/
.text-center{text-align: center;}
.absolute-position{position:absolute;}
.absolute-left{left:0}
.absolute-right{right:0}

.full-height{height:100%}
.full-width{width:100%}
.half-width{width:50%}

.mg-tp-15{margin-top: 15px;}
.mg-tp-30{margin-top: 30px;}
.mg-tp-45{margin-top: 45px;}

.mg-bt-15{margin-bottom: 15px;}
.mg-bt-30{margin-bottom: 30px;}
.mg-bt-45{margin-bottom: 45px;}
/* End of global */

