/* 
    Created on : 14/10/2015, 2:48:20 PM
    Author     : yfzha_000
*/
.colour-confidence-container{
    height:142px;
    margin-top:70px;
    display:block;
    position:relative;
    text-align:center;
    img.left{
        position:absolute;
        bottom:0;
        left:0;    
        z-index: 1;
    }
    .caption{
        position: absolute;
        display:inline-block;
        left:0;
        right:0;
        z-index:2;
        padding-top:5px;
        .relative-container{
            position:relative;
            display:inline-block;
            h1{
                font-family: $font-VSB-B,'arial';
                color:#000;
                font-size:74px;
                font-weight: bold;
                display:inline-block;
            }
            .cut-in-button{
                padding:10px 10px 0 10px;
                display:inline-block;
                position:absolute;
                right:20px;
                top:-20px;
                width:150px;
                text-align:center;
                a{
                    @include transition(all 0.5s ease);
                    font-family: $font-FKG-DC,'arial';
                    font-size:17px;
                    color:#000;
                    display:inline-block;
                    &:hover{
                        color:#494949;
                    }
                }
            }
        }
    }
}



@media (max-width:$screen-xs-max){
    .colour-confidence-container{
        height:92px;
        margin-top:30px;
        img.left{
            @include transition(all 0.5s ease);
            width:40%;
        }
        .caption{
            padding-top:0px;
            bottom:3px;
            .relative-container{
                h1{
                    font-size:54px;
                }
                .cut-in-button{
                    width:100px;
                }
            }
        }
    }
}

@media (max-width:$screen-xxs-max){
    .colour-confidence-container{
        height:72px;
        margin-top:30px;
        img.left{
            @include transition(all 0.5s ease);
            width:50%;
            left:-100px;
        }
        .caption{
            padding-top:0px;
            .relative-container{
                h1{
                    font-size:32px;
                    margin-bottom: 15px;
                }
                .cut-in-button{
                    width:100px;
                }
            }
        }
    }
}
@media (max-width:$screen-xxxs-max){
    .colour-confidence-container{
        img.left{
            width:70%;
            left:-100px;
        }
        .caption{
            .relative-container{
                h1{
                    font-size:28px;
                }
            }
        }
    }
}
